body {
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    justify-content: space-around;
    background-color: #17212D;
    color: #E5E7EB;
    align-items: center;
    padding: 10px;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 15px;
}

a,
.left-first p {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
    margin: 0;
}

.first-section {
    display: flex;
    background-color: #17212D;
    padding: 30px;
    justify-content: center;
    align-items: center;
    gap: 60px;
}

.left-first h1 {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: 900;
    margin: 0;
}

button {
    border-radius: 10px;
    background-color: #3882F6;
    color: #E5E7EB;
    padding: 10px 30PX;
    margin: 15px;
    font-size: 18px;
}

.second-section {
    text-align: center;
}

.card-list {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin: 30px;
}

.card img {
    border: #17212D solid 5px;
}

.third-section {
    background-color: #E5E7EB;
}

.third-section p {
    text-align: center;
    color: #1F2937;
    font-size: 36px;
    margin: 50px;
}

.third-section .signature {
    text-align: end;
}

.fourth-section {
    display: flex;
    justify-content: center;
    align-items: center;
}

.box {
    background-color: #3882F6;
    margin: 30px 190px;
    padding: 10px 30px;
    display: flex;
    align-items: center;
    gap: 30px;
    flex: auto;
    justify-content: space-between;
    color: #E5E7EB;
}

.box button {
    border: #E5E7EB solid 1px;
}